@charset "UTF-8";

form{
/*vai deixar o formulario mas fino e centralizado*/
    width: 600px;
    margin: auto;
}

input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.08); /*essa transparecia vai permitir que veja a imagem no fundo*/

}

input:hover, textarea{
    /*quando passar o mouse dentro das caixas ela vai deixar cinza*/
    background-color: #dddddd;
}

legend{
    color: #888888;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13pt;
}

fieldset{
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo{
    width: 150px;
}

fieldset#usuario{
    background-image: url('../_imagens/icone-contato.png');
    background-repeat: no-repeat;
    background-position: 95% 95%;

}

fieldset#endereco{
    background: url('../_imagens/icone-endereco.png') no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%;
}

fieldset#pedido{
    background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}

button#btn{
    width: 128px;
    height: 30px;
    border-radius: 8px;
    border-color: rgba(#888888);
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    float: right;
    margin-right: 10px;

}